* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display:flex;
    max-width: 900px;
    width: 100%;
    height: 500px;
    background-image: url(../img/layout.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.login-box {
    padding: 40px;
    width: 50%;
}

h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
    text-align: center;
}

.input-field {
    position: relative;
    margin-bottom: 20px;
}

.input-field input {
    width: 100%;
    padding: 10px 50px 10px 40px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.input-field .icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #888;
}

.input-field .toggle-password {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #6f4cff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #5737d6;
}

.forgot {
    text-align: center;
    display: block;
    margin: 15px 0;
    color: red;
    text-decoration: none;
    text-decoration:underline;
}

.social-login {
    margin-top: 20px;
}

.social-login p {
    text-align: center;
    margin-bottom: 10px;
}
.social-icons {
    text-align: center;
}
.social-icons a {
    font-size: 24px;
    color: #555;
    margin: 0 10px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #333;
}

.signup {
    margin-top: 20px;
    text-align: center;
}

.signup p {
    margin-bottom: 10px;
}

.signup a {
    color: purple;
    text-decoration: none;
}

.signup input {
    margin-right: 8px;
}